.stories-page {
    background-color: #816643;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .stories-page .div {
    background-color: #816643;
    width: 1440px;
    height: 2663px;
    position: relative;
  }
  
  .stories-page .overlap-group {
    position: absolute;
    width: 1332px;
    height: 397px;
    top: 2206px;
    left: 54px;
    background-color: #deddd0;
    border-radius: 60px;
    border: 1px solid;
    border-color: #0f0f0f;
  }
  
  .stories-page .icon {
    position: absolute;
    width: 67px;
    height: 51px;
    top: 249px;
    left: 79px;
  }
  
  .stories-page .body {
    position: absolute;
    width: 1181px;
    height: 66px;
    top: 131px;
    left: 53px;
    font-family: "Avenir-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .title {
    position: absolute;
    width: 374px;
    top: 61px;
    left: 55px;
    font-family: "Bacasime Antique-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .overlap {
    position: absolute;
    width: 205px;
    height: 67px;
    top: 237px;
    left: 174px;
  }
  
  .stories-page .rectangle {
    position: absolute;
    width: 177px;
    height: 67px;
    top: 0;
    left: 14px;
    background-color: #9ac2e4;
    border-radius: 25px;
  }
  
  .stories-page .text-wrapper {
    position: absolute;
    width: 205px;
    height: 62px;
    top: 4px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .stories-page .png {
    position: absolute;
    width: 337px;
    height: 431px;
    top: 1332px;
    left: 239px;
    object-fit: cover;
  }
  
  .stories-page .img {
    position: absolute;
    width: 65px;
    height: 66px;
    top: 1620px;
    left: 634px;
  }
  
  .stories-page .p {
    position: absolute;
    width: 644px;
    height: 66px;
    top: 1523px;
    left: 630px;
    font-family: "Avenir-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .title-2 {
    position: absolute;
    top: 1471px;
    left: 630px;
    font-family: "Bacasime Antique-Regular", Helvetica;
    font-weight: 400;
    color: #fffb32;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .stories-page .png-2 {
    position: absolute;
    width: 317px;
    height: 431px;
    top: 812px;
    left: 876px;
    object-fit: cover;
  }
  
  .stories-page .icon-2 {
    position: absolute;
    width: 65px;
    height: 66px;
    top: 1148px;
    left: 273px;
  }
  
  .stories-page .body-2 {
    position: absolute;
    width: 541px;
    height: 99px;
    top: 1044px;
    left: 269px;
    font-family: "Avenir-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .title-3 {
    position: absolute;
    width: 302px;
    top: 947px;
    left: 269px;
    font-family: "Bacasime Antique-Regular", Helvetica;
    font-weight: 400;
    color: #fffb32;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .png-3 {
    position: absolute;
    width: 317px;
    height: 434px;
    top: 300px;
    left: 235px;
    object-fit: cover;
  }
  
  .stories-page .icon-3 {
    position: absolute;
    width: 65px;
    height: 66px;
    top: 583px;
    left: 620px;
  }
  
  .stories-page .body-3 {
    position: absolute;
    width: 644px;
    height: 66px;
    top: 492px;
    left: 620px;
    font-family: "Avenir-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .title-4 {
    position: absolute;
    top: 426px;
    left: 616px;
    font-family: "Bacasime Antique-Regular", Helvetica;
    font-weight: 400;
    color: #fffb32;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .stories-page .regular-header {
    position: absolute;
    width: 1400px;
    height: 144px;
    top: 24px;
    left: 20px;
  }
  
  .stories-page .heirloom-text {
    position: absolute;
    width: 252px;
    height: 80px;
    top: 41px;
    left: 151px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Cormorant Infant-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .stories-text {
    position: absolute;
    width: 96px;
    height: 57px;
    top: 53px;
    left: 866px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Carlito-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 27px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .family-text {
    position: absolute;
    width: 96px;
    height: 57px;
    top: 52px;
    left: 974px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Carlito-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 27px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .span {
    font-family: "Carlito-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 0;
  }
  
  .stories-page .text-wrapper-2 {
    font-family: "Fanwood Text-Regular", Helvetica;
    font-size: 36px;
  }
  
  .stories-page .photos-text {
    position: absolute;
    width: 96px;
    height: 57px;
    top: 53px;
    left: 1082px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Carlito-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 27px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .login-text {
    position: absolute;
    width: 96px;
    height: 57px;
    top: 54px;
    left: 1190px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Carlito-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 27px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stories-page .divider {
    position: absolute;
    width: 1333px;
    height: 1px;
    top: 120px;
    left: -3767px;
  }
  
  .stories-page .logo {
    position: absolute;
    width: 66px;
    height: 60px;
    top: 54px;
    left: 85px;
  }
  